.name{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;;
}

.speech{
    color: black;
    font-family: arial;
    font-size: 15px;
    
}
.stage-directions{
    color: black;
    font-family:'Times New Roman', Times, serif;
    font-size: 18px;
    background-color:skyblue;
}
.stage-directions:hover{
    background-color: plum;
    color: chocolate;
}

.quince{
    color: darkcyan;
}
.snug{
    color:darkmagenta;
}
.bottom{
    color:mediumblue;
}
.flute{
    color:indianred;
}
.snout{
    color:mediumslateblue;
}
.starvelling{
    color:palevioletred;
}
.puck{
    color: teal;
}

.table{
    
    text-align: center;
    color:steelblue;
    padding: 10px;
    margin: 10px;
}
table, th, td{
    border: 3px groove;
}
tr:nth-child(even)
{
    background-color: violet;
}
